extends ../layouts/default
block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='60')
        h2 Rhythm Profiles
        if users.length
            .row
                each user, i in users
                    .col-sm-4.col-xs-6
                        a(href='/users/'+user.id).user-image
                            if user.photo.exists
                                img(src=user._.photo.limit(100,100), alt=user.name.full + ' profile photo')
                            else
                                img(src='//www.gravatar.com/avatar/#{user.emailHash}?s=100&d=retro')

                        a(href='/users/'+user.id)
                            h3= user.name.full
                        h4.bio= user.bio

                        if user.skills.length
                            ul.skill-list
                                each skill, i in user.skills
                                    li.skill= skill.name

        else
            .jumbotron.text-center
                .lead.text-muted There are no users.